사용한 테이블 스키마  
<br/>
![IMAGE](https://www.sqlitetutorial.net/wp-content/uploads/2015/11/sqlite-sample-database-color.jpg)  
https://www.sqlitetutorial.net/sqlite-sample-database/  
<br/>

In [1]:
import sqlite3
from prettytable import from_db_cursor

# SQLite 데이터베이스에 연결하기 위해 connect 생성
con = sqlite3.connect('./database/chinook.db')

# cursor 생성
cur = con.cursor()

## GROUP BY
기준 컬럼에 대해 같은 값 끼리 그룹으로 묶습니다.  
그룹으로 묶인 행에 대해 연산이 필요하다면 집계 함수와 조합합니다.  
집계 함수 (Aggregate_function): COUNT, SUM, AVG, MIN, MAX  

```
SELECT
    기준 컬럼, 집계 함수(집계할 컬럼)
FROM 테이블
GROUP BY 기준 컬럼
```

In [4]:
# 앨범별로 트랙이 몇개씩 있는지 조회해보기
cur.execute("""
            SELECT 
                albumid, COUNT(trackid)
            FROM
                tracks
            GROUP BY albumid
            LIMIT 5;
            """)

from_db_cursor(cur)

+---------+----------------+
| AlbumId | COUNT(trackid) |
+---------+----------------+
|    1    |       10       |
|    2    |       1        |
|    3    |       3        |
|    4    |       8        |
|    5    |       15       |
+---------+----------------+

In [5]:
# GROUP BY 결과를 원하는 순서대로 정렬할수도 있음
# 앨범별 트랙이 많은 순으로 조회
cur.execute("""
            SELECT 
                albumid, COUNT(trackid)
            FROM
                tracks
            GROUP BY albumid
            ORDER BY COUNT(trackid) DESC
            LIMIT 5;
            """)

from_db_cursor(cur)

+---------+----------------+
| AlbumId | COUNT(trackid) |
+---------+----------------+
|   141   |       57       |
|    23   |       34       |
|    73   |       30       |
|   229   |       26       |
|   230   |       25       |
+---------+----------------+

In [10]:
# 앨범 별 가격 비싼순으로 조회하기
cur.execute("""
            SELECT
                albumid, SUM(unitprice)
            FROM tracks
            GROUP BY albumid
            ORDER BY sum(unitprice) DESC
            LIMIT 5;
            """)

from_db_cursor(cur)

+---------+--------------------+
| AlbumId |   SUM(unitprice)   |
+---------+--------------------+
|   141   | 56.43000000000003  |
|   229   | 51.74000000000001  |
|   230   | 49.75000000000001  |
|   251   | 49.75000000000001  |
|   231   | 47.760000000000005 |
+---------+--------------------+

In [16]:
# 앨범 별 가격 비싼순으로 조회하기
# 소수점 셋째자리에서 반올림해서 둘째짜리까지만 표시하기
cur.execute("""
            SELECT
                albumid, ROUND(SUM(unitprice), 2)
            FROM tracks
            GROUP BY albumid
            ORDER BY sum(unitprice) DESC
            LIMIT 5;
            """)

from_db_cursor(cur)

+---------+--------------------------+
| AlbumId | ROUND(SUM(unitprice), 2) |
+---------+--------------------------+
|   141   |          56.43           |
|   229   |          51.74           |
|   230   |          49.75           |
|   251   |          49.75           |
|   231   |          47.76           |
+---------+--------------------------+

In [17]:
# 앨범별로 가장 저렴한 트랙 가격순으로 조회해보기
cur.execute("""
            SELECT
                albumid, MIN(unitprice)
            FROM tracks
            GROUP BY albumid
            ORDER BY MIN(unitprice)
            LIMIT 5;
            """)

from_db_cursor(cur)

+---------+----------------+
| AlbumId | MIN(unitprice) |
+---------+----------------+
|    1    |      0.99      |
|    2    |      0.99      |
|    3    |      0.99      |
|    4    |      0.99      |
|    5    |      0.99      |
+---------+----------------+

In [18]:
# 앨범별로 가장 비싼 트랙 가격순으로 조회해보기
cur.execute("""
            SELECT
                albumid, MAX(unitprice)
            FROM tracks
            GROUP BY albumid
            ORDER BY MAX(unitprice) DESC
            LIMIT 5;
            """)

from_db_cursor(cur)

+---------+----------------+
| AlbumId | MAX(unitprice) |
+---------+----------------+
|   226   |      1.99      |
|   227   |      1.99      |
|   228   |      1.99      |
|   229   |      1.99      |
|   230   |      1.99      |
+---------+----------------+

## HAVING
그룹으로 묶인 행에 조건을 추가하고 싶다면 HAVING을 사용합니다

In [20]:
# 앨범 별 트랙 수가 20곡 초과인 경우만 조회
cur.execute("""
            SELECT albumid, COUNT(trackid)
            FROM tracks
            GROUP BY albumid
            HAVING COUNT(trackid) > 20 
            """)

from_db_cursor(cur)

+---------+----------------+
| AlbumId | COUNT(trackid) |
+---------+----------------+
|    23   |       34       |
|    24   |       23       |
|    39   |       21       |
|    51   |       22       |
|    73   |       30       |
|    83   |       24       |
|   141   |       57       |
|   167   |       21       |
|   224   |       22       |
|   228   |       23       |
|   229   |       26       |
|   230   |       25       |
|   231   |       24       |
|   250   |       22       |
|   251   |       25       |
|   253   |       24       |
|   255   |       23       |
+---------+----------------+